html,body{
    margin:0;
    padding: 0;
    height: 100%;
    width:100%;
    background-color: ivory;
}
body{
    min-height: 100%;
    position: relative;
}
.upper-part {
    border: none;
    background-color: blue;
    border-radius: 25px;
    margin-right: 1%;
    margin-left: 1%;
    display: block;
    height: 80px;
    width: 98%;
}
h1 {
    color: white;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    border: none;
    height: 80px;
    vertical-align: 70%;
}
img.alarm {
    margin-left: 33%;
    margin-top: 0;
    position: absolute;
    height: 80px;
    width: 80px;
    align-content: center;
}
.edit-name {
    display: inline-block;
    height: 20px;
    margin-bottom: 40px;
    margin-left: 55%;
    margin-top: 30px;
    position: absolute;
    width: 13%;
    font-size: 90%;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid grey;
}
.changeUsername{
    height: 24px;
    width: 7%;
    margin-right: auto;
    text-align: center;
    position: absolute;
    margin-top: 31px;
    margin-left: 68.5%;
    padding-right: auto;
    vertical-align: middle;
    display: inline-block;
}
.main-part {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    margin: 80px auto 30px auto;
    width:40%;
    align-content: center;
}
.chat-messages{
    box-sizing: border-box;
    border:2px solid lightblue;
    background-color: white;
    width:100%;
    height: 430px;
    min-height: 250px;
    overflow-y: scroll;
    padding: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
}
textarea{
    box-sizing: border-box;
    border:4px groove lightblue;
    height: 80px;
    width:70%;
    resize: none;
    padding: 5px;
}
#send, #redact, #delete
{
    background-color: blue;
    color:white;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
}
#send{
    height: 80px;
    width:15%;
    margin-left: 0;
}
#redact{
    height: 40px;
    width:13%;
    margin-left: 15%;
}
#delete{
    height: 40px;
    width:13%;
    margin-left: 15%;
    margin-top: 40px;
}
footer {
    box-sizing: border-box;
    position: fixed;
    margin-right: 1%;
    margin-left: 1%;
    bottom: 0;
    color: white;
    background-color: blue;
    text-align: center;
    vertical-align: 30%;
    font-style: italic;
    height: 22px;
    width: 98%;
    border-radius: 5px 5px 0 0;
}